extends layout

block content
    include header.jade
    include sidebar.jade
    .container-fluid
        .row
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                each project in unique
                    #accordion(role='tablist', aria-multiselectable='true')
                        .panel.panel-default
                            #headingOne.panel-heading(role='tab')
                                h4.panel-title
                                    a(data-toggle='collapse', data-parent='#accordion', href='#'+project.replace(/ /g,'').replace(/\//g,''), aria-expanded="false", aria-controls=project.replace(/ /g,'').replace(/\//g,'', '"')) !{project}
                            .panel-collapse.collapse.in(id=project.replace(/ /g,'').replace(/\//g,'') role='tabpanel', aria-labelledby='headingOne')
                                table.table.table-sm.table-hover
                                    thead
                                        tr
                                            th #
                                            th PC-Number
                                            th State
                                            th User
                                            th PL
                                            th.hidden-xs-down Feature
                                            th Connect
                                    tbody
                                        each user, i in userlist
                                            - if (user.project == project)
                                                tr
                                                    th(scope='row') 1
                                                    td <a href="/remote?a_number=#{user.a_number}" >#{user.a_number}</a>
                                                    td #{user.state}
                                                    - if(user.user_id == "")
                                                        td Free
                                                    - else
                                                        td
                                                            //Little trick ... p is the element and the name is the value. Otherwise the name will be the element
                                                            each val in users
                                                              p #{(String(user.user_id) == String(val._id))? String(val.user) : ""}

                                                    td
                                                        if( user.permanentlog.pl == true)
                                                            input(type="checkbox" checked onclick="this.checked=!this.checked;")
                                                        else
                                                            input(type="checkbox" onclick="this.checked=!this.checked;")


                                                    td.hidden-xs-down
                                                        .dropdown
                                                            button#dropdownMenu1.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                                                | Feature
                                                            .dropdown-menu(aria-labelledby='dropdownMenu1')
                                                                - var test = user.features[0]
                                                                each d in user.features
                                                                    a.dropdown-item(href='#') #{d}
                                                    td
                                                        - if(user.state == "ON")
                                                            button.disabled(disabled stlye="background: gainsboro;") Connect
                                                        - if(user.state == "OFFLINE")
                                                            - var authenticated = user.features
                                                            button(onclick="myFunction(' + #{user.features} + ") Start


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
        // Just to make our placeholder images work. Don't actually copy the next line!
    script(src='javascripts/vendor/holder.min.js')
        // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='javascripts/ie10-viewport-bug-workaround.js')
    script.
        function myFunction(id) {
            alert(id);
        }